- model_class = StateInpatientProcedure
.row-fluid
  .span12
    %h2
      %a{:href => inpatient_procedure_path(@inpatient_procedure)}
        %i.icon-medkit
        = "#{@state_inpatient_procedure.drg}"
    %h4
      = "State of #{@state_inpatient_procedure.state_name}"
    .muted.pull-right
      %strong= " Year #{@state_inpatient_procedure.year}"
.row-fluid
  .span12
    .muted
      %table.table.table-striped
        %tr.info
          %td= "State Average Covered Charges: #{number_to_currency(@state_inpatient_procedure.average_covered_charges)}"
          %td= "State Average Total Payments: #{number_to_currency(@state_inpatient_procedure.average_total_payments)}"
          %td= "State Total Discharges: #{@state_inpatient_procedure.total_discharges}"
        %tr.warning
          %td= "National Average Covered Charges: #{number_to_currency(@inpatient_procedure.average_covered_charges)}"
          %td= "National Average Total Payments: #{number_to_currency(@inpatient_procedure.average_total_payments)}"
          %td= "National Total Discharges: #{@inpatient_procedure.total_discharges}"
    .tabbable{}
      .btn-group
        %ul.nav.nav-pills
          %li.active
            %a{:href => "#hospitals", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-hospital
                = "Hospitals"
    %hr{:style => "border: 1px solid #B7410E; margin-top:0px;"}
    .tab-content{}
      - if false
        .tab-pane.active{:id => "graphs"}
          = render :partial => 'graphs'
      .tab-pane.active{:id => "hospitals"}
        = render :partial => 'providers'
