- model_class = ProviderInpatientProcedure
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:drg) + ':'
  %br
  = @provider_inpatient_procedure.drg
%p
  %strong= model_class.human_attribute_name(:provider_id) + ':'
  %br
  = @provider_inpatient_procedure.provider_id
%p
  %strong= model_class.human_attribute_name(:provider_name) + ':'
  %br
  = @provider_inpatient_procedure.provider_name
%p
  %strong= model_class.human_attribute_name(:provider_street_address) + ':'
  %br
  = @provider_inpatient_procedure.provider_street_address
%p
  %strong= model_class.human_attribute_name(:provider_city) + ':'
  %br
  = @provider_inpatient_procedure.provider_city
%p
  %strong= model_class.human_attribute_name(:provider_state) + ':'
  %br
  = @provider_inpatient_procedure.provider_state
%p
  %strong= model_class.human_attribute_name(:provider_zipcode) + ':'
  %br
  = @provider_inpatient_procedure.provider_zipcode
%p
  %strong= model_class.human_attribute_name(:hospital_referral_region_description) + ':'
  %br
  = @provider_inpatient_procedure.hospital_referral_region_description
%p
  %strong= model_class.human_attribute_name(:total_discharges) + ':'
  %br
  = @provider_inpatient_procedure.total_discharges
%p
  %strong= model_class.human_attribute_name(:average_covered_charges) + ':'
  %br
  = @provider_inpatient_procedure.average_covered_charges
%p
  %strong= model_class.human_attribute_name(:average_total_payments) + ':'
  %br
  = @provider_inpatient_procedure.average_total_payments
%p
  %strong= model_class.human_attribute_name(:year) + ':'
  %br
  = @provider_inpatient_procedure.year

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), provider_inpatient_procedures_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_provider_inpatient_procedure_path(@provider_inpatient_procedure), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), provider_inpatient_procedure_path(@provider_inpatient_procedure), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
