= simple_form_for @state_outpatient_procedure, :html => { :class => 'form-horizontal' } do |f|
  = f.input :apc
  = f.input :provider_state
  = f.input :outpatient_services
  = f.input :average_estimated_submitted_charges
  = f.input :average_total_payments
  = f.input :year
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), state_outpatient_procedures_path, :class => 'btn'
