%table.table.table-striped.sortable{"data-provides" => "rowlink"}
  %thead
    %tr
      %th{:style => 'display:none;'}= "Action"
      %th= simple_sortable 'provider_name', 'Hospital'
      %th= simple_sortable 'average_estimated_submitted_charges', 'Avg. Submitted Charges'
      %th= simple_sortable 'average_total_payments', 'Avg. Total Payments'
      %th= simple_sortable 'outpatient_services', 'Services Performed'
  %tbody
    - @provider_outpatient_procedures.sort_by(&:provider_name).each do |provider_outpatient_procedure|
      %tr
        %td{:style => 'display:none;'}= link_to "Show", provider_outpatient_procedure_path(provider_outpatient_procedure)
        %td= provider_outpatient_procedure.provider_name
        %td= number_to_currency(provider_outpatient_procedure.average_estimated_submitted_charges)
        %td= number_to_currency(provider_outpatient_procedure.average_total_payments)
        %td= provider_outpatient_procedure.outpatient_services