%table.table.table-striped{"data-provides" => "rowlink"}
  %thead
    %tr
      %th{:style => 'display:none;'}= "Action"
      %th= "Procedure"
      %th= "Provider Charge"
      %th= "#{@health_provider.state_name} Average Charge"
      %th= "National Average Charge"
      %th= "Provider Paid"
      %th= "#{@health_provider.state_name} Average Paid"
      %th= "National Average Paid"
      %th= "Total Discharges"
  %tbody
    - @provider_inpatient_procedures.each do |provider_inpatient_procedure|
      %tr
        %td{:style => 'display:none;'}= link_to "Show", provider_inpatient_procedure_path(provider_inpatient_procedure)
        %td= provider_inpatient_procedure.drg
        %td= number_to_currency(provider_inpatient_procedure.average_covered_charges)
        %td= number_to_currency(provider_inpatient_procedure.state_average_covered_charges) unless provider_inpatient_procedure.state_average_covered_charges.nil?
        %td= number_to_currency(provider_inpatient_procedure.national_average_covered_charges) unless provider_inpatient_procedure.national_average_covered_charges.nil?
        %td= number_to_currency(provider_inpatient_procedure.average_total_payments)
        %td= number_to_currency(provider_inpatient_procedure.state_average_paid) unless provider_inpatient_procedure.state_average_paid.nil?
        %td= number_to_currency(provider_inpatient_procedure.national_average_paid) unless provider_inpatient_procedure.national_average_paid.nil?
        %td= provider_inpatient_procedure.total_discharges
