#cover
  %div{:class => "alert alert-information"}
    .pagination-centered
      = content_tag :div, "Loading data ..."

- model_class = HealthProvider
.row-fluid
  .span12
    %h2
      %i.icon-hospital
      = "#{@health_provider.name} (ID # #{@health_provider.provider_id})"
    %h4
      .muted.pull-right
        = " Year #{@health_provider.year}"
.row-fluid
  .span12
    .tabbable{}
      .btn-group
        %ul.nav.nav-pills
          %li
            %a{:href => "#inpatient_procedures", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-medkit
                = "INPATIENT PROCEDURES"
          %li
            %a{:href => "#outpatient_procedures", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-medkit
                = "OUTPATIENT PROCEDURES"
          %li
            %a{:href => "#graphs", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-bar-chart
                = "GRAPHS"
          %li
            %a{:href => "#location", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-map-marker
                = "LOCATION"
            
      %hr{:style => "border: 1px solid #B7410E; margin-top:0px;"}
    .tab-content{}
      .tab-pane.active{:id => "graphs"}
        %div{:id => "inpatient_graphs"}
          - unless @provider_inpatient_procedures.blank?
            = render :partial => 'inpatient_graphs'
          - else
            No Inpatient Procedure Graphs
        %div{:id => "outpatient_graphs"}
          - unless @provider_outpatient_procedures.blank?
            = render :partial => 'outpatient_graphs'
          - else
            No Outpatient Procedure Graphs
      .tab-pane{:id => "location"}
        = render :partial => 'location'
      .tab-pane{:id => "inpatient_procedures"}
        - unless @provider_inpatient_procedures.blank?
          = render :partial => 'inpatient_procedures'
        - else
          None
      .tab-pane{:id => "outpatient_procedures"}
        - unless @provider_outpatient_procedures.blank?
          = render :partial => 'outpatient_procedures'
        - else
          None

:javascript
  $('.loading').on('click', function(e) {
   $('#cover').show();
  });