- model_class = HealthProvider
.row-fluid
  .span12
    %h2
      %i.icon-hospital
      = "#{@health_provider.name} (ID # #{@health_provider.provider_id})"
    %h4
      .muted.pull-right
        = " Year #{@health_provider.year}"
.row-fluid
  .span12
    .tabbable{}
      .btn-group
        %ul.nav.nav-pills
          %li
            %a{:href => "#procedures", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-medkit
                = "PROCEDURES"
          %li
            %a{:href => "#graphs", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-bar-chart
                = "GRAPHS"
          %li
            %a{:href => "#location", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-map-marker
                = "LOCATION"
            
      %hr{:style => "border: 1px solid #B7410E; margin-top:0px;"}
    .tab-content{}
      .tab-pane.active{:id => "graphs"}
        %div{:id => "inpatient_graphs"}
          - unless @provider_inpatient_procedures.blank?
            = render :partial => 'graphs'
          - else
            No Inpatient Procedure Graphs
        %div{:id => "outpatient_graphs"}
          - unless @provider_outpatient_procedures.blank?
            = render :partial => 'graphs'
          - else
            No Outpatient Procedure Graphs
      .tab-pane{:id => "location"}
        = render :partial => 'location'
      .tab-pane{:id => "procedures"}
        %div{ :class => "btn-group", "data-toggle" => "buttons-radio"}
          = link_to_function 'Inpatient', "$('#outpatient').hide(); $('#inpatient').show(); ", :class => 'btn btn-success active'
          = link_to_function 'Outpatient', "$('#outpatient').show(); $('#inpatient').hide(); ", :class => 'btn btn-success'
        %div{:id => "inpatient"}
          - unless @provider_inpatient_procedures.blank?
            = render :partial => 'inpatient_procedures'
          - else
            None
        %div{:id => "outpatient", :style => 'display:none'}
          - unless @provider_outpatient_procedures.blank?
            = render :partial => 'outpatient_procedures'
          - else
            None