- model_class = InpatientProcedure
#cover
  %div{:class => "alert alert-information"}
    .pagination-centered
      = content_tag :div, "Loading data ..."

.row-fluid
  .span12
    %h2
      %i.icon-medkit
      =t '.title', :default => model_class.model_name.human.pluralize.titleize
    %h4
      .muted.pull-right
        Year 2011
%table.table.table-striped.sortable{"data-provides" => "rowlink"}
  %thead
    %tr
      %th{:style => 'display:none;'}= "Action"
      %th= simple_sortable 'drg', 'DRG'
      %th= simple_sortable 'average_covered_charges', 'Avg. Covered Charges'
      %th= simple_sortable 'average_total_payments', 'Avg. Total Payments'
      %th= simple_sortable 'total_discharges', 'Total Discharges'

  %tbody
    - @inpatient_procedures.each do |inpatient_procedure|
      %tr
        %td{:style => 'display:none;'}= link_to "Show", inpatient_procedure_path(inpatient_procedure), :class => 'loading'
        %td= truncate(inpatient_procedure.drg, :limit => 15)
        %td= number_to_currency(inpatient_procedure.average_covered_charges)
        %td= number_to_currency(inpatient_procedure.average_total_payments)
        %td= inpatient_procedure.total_discharges

- if false
  %hr
  %h2 Import Inpatient Procedures
  = form_tag import_inpatient_procedures_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"

  = link_to t('.new', :default => t("helpers.links.new")), new_inpatient_procedure_path, :class => 'btn btn-primary'

:javascript
  $('.loading').on('click', function(e) {
     $('#cover').show();
    });