- model_class = InpatientProcedure
.row-fluid
  .span12
    %h2
      %i.icon-medkit
      = @inpatient_procedure.drg
    %h4
      = "National"
      .muted.pull-right
        = " Year #{@inpatient_procedure.year}"

.row-fluid
  .span12
    .muted
      %table.table.table-striped
        %tr.error
          %td= "National Average Covered Charges: #{number_to_currency(@inpatient_procedure.average_covered_charges, :precision => 0)}"
          %td= "National Average Total Payments: #{number_to_currency(@inpatient_procedure.average_total_payments, :precision => 0)}"
          %td= "National Total Discharges: #{@inpatient_procedure.total_discharges}"
    .tabbable{}
      .btn-group
        %ul.nav.nav-pills
          %li
            %a{:href => "#hospitals", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-hospital
                = "Hospitals"
          %li
            %a{:href => "#states", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-star-empty
                = "States"
          %li
            %a{:href => "#graphs", :data => {:toggle => "tab"}}
              %button.btn
                %i.icon-bar-chart
                = "Graphs"

    .tab-content{}
      .tab-pane{:id => "hospitals"}
        = form_tag(inpatient_procedure_path(@inpatient_procedure), :class => "form-inline", :method => "get") do
          = select_tag :radius, options_for_select([['Within 10 Miles', 10], ['Within 50 Miles', 50], ['Within 100 Miles', 100], ['Within 500 Miles', 500]], params[:radius]), :include_blank => false, :class => "selectpicker show-tick show-menu-arrow span2"
          = text_field_tag :zip, nil, :placeholder => "Zipcode", :class => 'span2', :value => params[:zip]
          = button_tag(:type => 'submit', :class => 'btn btn-success') do
            Go
          = link_to "Clear", inpatient_procedure_path(@inpatient_procedure)
        - unless @provider_inpatient_procedures.blank?
          %div{:id => "hospital_providers"}
            = render 'providers'
        - else
          .well
            Nothing found
            %br
            &nbsp;
      .tab-pane{:id => "states"}
        = render 'states'
      .tab-pane.active{:id => "graphs"}
        = form_tag(inpatient_procedure_path(@inpatient_procedure), :class => "form-inline", :method => "get") do
          = select_tag :radius, options_for_select([['Within 10 Miles', 10], ['Within 50 Miles', 50], ['Within 100 Miles', 100], ['Within 500 Miles', 500]], params[:radius]), :include_blank => false, :class => "selectpicker show-tick show-menu-arrow span2"
          = text_field_tag :zip, nil, :placeholder => "Zipcode", :class => 'span2', :value => params[:zip]
          = button_tag(:type => 'submit', :class => 'btn btn-success') do
            Go
          = link_to "Clear", inpatient_procedure_path(@inpatient_procedure)
        - unless @provider_inpatient_procedures.blank?
          %div{:id => "hospital_and_state_graphs"}
            = render :partial => 'graphs'
        - else
          .well
            Nothing found
            %br
            &nbsp;

:javascript
  $('.selectpicker').selectpicker({
    style: 'btn-warning'
  });