!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Procedure Price Check"
      = favicon_link_tag 'favicon.ico'
      %meta{:content => content_for?(:description) ? yield(:description) : "Procedure Price Check", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css"
        = csrf_meta_tags
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        = yield(:head)
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6217562-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
    - if false
      %div{:class => "navbar navbar-fixed-bottom"}
        %p{:class => "muted credit", :style => "text-align:center"}
          %i.icon-ok-sign
          = "Procedure Price Check - Copyright #{Date.today.year}"
      - if false
        #footer
          .container
            %p{:class => "muted credit", :style => "text-align:center"}
              %i.icon-ok-sign
              = "Procedure Price Check - Copyright #{Date.today.year}"
      / ! end of .container
    / ! end of #main

